*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: bisque;
    display: grid;
    grid-template-rows: 10rem 2rem minmax(50vh,auto) 1fr;
    position: relative;
}

header{
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

header h1{
    font-size: 4.5rem;
    background-image: linear-gradient(to right,rgba(200,0,50.5),rgba(100,0,50.5),rgba(80,0,50.5));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: pulsate 1000ms infinite;
    backface-visibility: hidden;
}

@keyframes pulsate{
    0%{
        transform: scale(1);  
    }
    50%{
        transform: scale(1.02);
    }
    100%{
        transform: scale(1);
    }
}

#btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 8rem;
    padding: 0 3rem; 
}

#btn span{
    font-size: 2.5rem;
    padding:1rem 2rem;   
    color: rgb(90, 9, 29);
    border: 1px solid transparent;
    font-weight: bolder;
    border-radius: 50%;
    cursor: pointer;
    transition: border .5s linear;
    outline:none;
}

#btn span:hover{
    border: 1px solid rgb(90, 9, 29);
}
#btn span:focus,
#btn span:active{
    outline: none;
}

#about{
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background-image: linear-gradient(to right,rgba(200,0,50.5),rgba(100,0,50.5),rgba(80,0,50.5));
}
.invisible{
    visibility:hidden;
    pointer-events: none;
}

.paragraph{
    font:inherit;
    text-align: center;
    color: whitesmoke;
    font-size: 2.25rem;
    padding: 2.5rem;
}

#about a{
    margin-top:3rem; 
    font-size: 2.25rem;
    background-color: white;
    text-decoration: none;
    padding: 1rem 4rem;
    border-radius: 3rem;
    transform-origin: center;
    box-shadow: 0 0 3rem rgba(0,0,0,.75);
    backface-visibility: hidden;
    color: rgb(90, 9, 29);
}

#about a:hover{
    transform: translateY(-1px);
    box-shadow: 0 0 3.5rem rgba(0,0,0,.5);

}

#about a:focus{
    transform: scale(.99);
    box-shadow: 0 0 2rem rgba(0,0,0,.8);
}

main{
    width: 70%;
    min-width: 40rem;
    max-width:70rem;
    margin: 5rem auto;
    padding: 4rem;
    background-image: linear-gradient(to right,rgba(200,0,50.5),rgba(100,0,50.5),rgba(80,0,50.5));
    border-radius: 1rem;
}
#form{
    height:70%;
    min-height:100px;
    width: 80%;
    margin:auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box input{
    flex-basis: 75%;
    padding: .5rem 1rem;
    outline:none;
    border-radius: 1.5rem;
    border: none;
    background:bisque;
    color:rgb(90, 9, 29);
}

.box input::placeholder{
    color: #666;
    font-family: inherit;
}

.box input:focus,
.box input:active{
    background-color: antiquewhite;
}

.box label{
    font-size: 1.5rem;
    color:bisque;
}

.btn-box{
    width: 70%;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.btn-box input{
    outline: none;
    border:1px solid transparent;
    border-radius: 1.5rem;
    padding: .5rem 2rem;
    color:rgb(90, 9, 29);
    background-color: bisque;
    font:inherit;
    transition: all .2s linear;
    box-shadow: 0 0 1rem rgba(0,0,0,.5);
}

.btn-box input:focus{
    border: 1px solid bisque;
    background-color:transparent;
    color:bisque;
}

#result{
    background-image: linear-gradient(to right,rgba(200,0,50.5),rgba(100,0,50.5),rgba(80,0,50.5));
    padding: 2rem 5rem;
}

.score{
    font:inherti;
    color:bisque;
    text-align: center;
    text-transform: uppercase;
}